<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->


    <th:block th:each="item: ${jobs}">
        <table class = 'job-listing'>
        <tr>
                <td th:utext="'ID: ' + ${item.getId()} +
                '<br>'+'Name: ' + ${item.getName()} +
                '<br>'+'Employer: ' + ${item.getEmployer()} +
                '<br>'+'Position Type: ' + ${item.getPositionType()} +
                '<br>'+'Location: ' + ${item.getLocation()} +
                '<br>'+'Skills: ' + ${item.getCoreCompetency()}
                "></td>
        </tr>
        </table>
    </th:block>






</div>

</body>
</html>